.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Container {
  padding: 0px 10px 0px 10px;
  cursor: default;
  width: 300px;
  height: auto;

  position: absolute;
  margin-left: 50%;
  border-top: black 5px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  margin-top: 10px;

  border-style: solid;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 16px 0px rgba(173, 200, 215, 0.25);
  border-radius: 5px;
  margin-bottom: 1rem;
}
.Header {
  border-bottom: 1px solid;
  padding-bottom: 10px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: lightgrey;
  border-style: solid;
  align-items: center;
  display: flex;
}
.Header h2 {
  font-weight: normal;
  flex-wrap: nowrap;
  display: inline-flex;
}
.Header span {
  padding: 0% 0% 0% 30%;
}

.subHeader h3 {
  font-weight: normal;
}

.imgStrategic {
  width: fill-available;
  /* width: -webkit-fill-available; */
  padding-bottom: 5px;
}
.link {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: lightgrey;
  border-style: solid;
}
a:hover {
  color: grey;
}
